body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #1F2937;
    height: 540px;
    padding: 20px 300px;
}

.header-top {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.logo-img {
    max-width: 50px;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header-content h3 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.header-content p {
    font-size: 16px;
    color: #E5E7EB;
}

.header-content button {
    color: #F9FAF8;
    background-color: #3882F6;
    height: 35px;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 17px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h4 {
    font-size: 36px;
    font-weight: 900;
}

.info-tiles {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.tile {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
}

.tile img {
    border-radius: 8px;
    border: 5px solid #3b82f6;
}